<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout">
<head>
<title>generate reports</title>
</head>
	<body>
	<h1 layout:fragment="header">Hello Page</h1>
	<div layout:fragment="content" class="container">
		Hello <p th:text="${username}"></p> 
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
</body>
</html>