<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout">
<head>
<title>generate reports</title>
</head>
	<body>
	<div layout:fragment="content" class="container">
		<p th:text="Hello" th:text="${username}" </p> 
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
		<br/>
		<form th:action="@{/hello}" method="post">
			<input type="submit" value="Refresh" />
		</form>
		<div>
			<form style="display:inline-block" th:action="@{/search}" th:object="${suppliers}" method="GET">
    			<select th:name="prod">
					<option th:each="supplier : ${suppliers}" 
			  			th:value="${supplier.getId()}" 
			  			th:text="${supplier.getCompany()}" />
				</select>
				<input type="submit" value="Generate Product Report" />
			</form>
		</div>
		<div>
		<table border="10px">
		<th:block th:each="product : ${products}">
    		<tr>
        		<td th:text="${product.Id}">Unknown</td>
    		</tr>
		</th:block>
		</table>
		</div>
	</div>
</body>
</html>