<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout">
<head>
<title>generate reports</title>
<link rel="stylesheet" href = "/assets/css/index.css">
<script>
function validateForm() {
    var daysOld = document.forms["reportForm"]["daysOld"].value;
    var count = document.forms["reportForm"]["count"].value;

    if (daysOld == null || daysOld == "" || count == null || count == "") {
        alert("Field must be filled out");
        return false;
    }
    if (daysOld == 0 || count == 0) {
    	alert("value must be greater than 0");
    	return false;
    }
    if(isNaN(daysOld) || isNaN(count)) {
    	alert("Numeric value expected")
    	return false;
    }
}
</script>
</head>
	<body>
	<div layout:fragment="content" class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="col-md-4">
					<h4><b>Welcome</b></h4>
				</div>
				<div class="col-md-6">
					<h4><b th:text=" ${username}"></b></h4>
				</div>
			</div>
		    <div class="col-sm-1" style="float:right;">
				<form class="form-horizontal" role="form" th:action="@{/logout}" method="post">
					<button class="btn btn-default" type="submit" value="Sign Out" >Sign Out</button>
				</form>
			</div>
	</div>
		<hr/>
		<div class="row">
			<div class="col-md-12">
				<h4><b>Generate Product Report</b></h4>
			</div>
				<form class="form-horizontal" role="form" style="display:inline-block"
				th:action="@{/report}" th:object="${suppliers}" method="post" name="reportForm"
				onsubmit="return validateForm()">

				<div class="form-group">
					<label class="control-label col-sm-10" for="prod">Select Supplier</label>
					<div class="col-sm-2">
			   			<select th:name="prod" style="height:30px;width:100px;" class="form-control">
							<option th:each="supplier : ${suppliers}"
					  			th:value="${supplier.getId()}"
			 		  			th:text="${supplier.getCompany()}" />
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-10" for="daysOld">Reports Dating back to days</label>
					<div class="col-sm-2">
						<input class="form-control" style="height:30px;width:100px;" type="text" name="daysOld" maxlength="5"  placeholder="60"/>
					</div>
				</div>

				<div class="form-group">
				<label class="control-label col-sm-10" for="count">Select Count</label>
					<div class="col-sm-2">
						<input class="form-control" style="height:30px;width:100px;" type="text" name="count" maxlength="5" placeholder="1"/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-9">
					</div>
					<div class="col-sm-2">
						<input class="btn btn-default" type="submit" value="Generate Report" />
					</div>
				</div>

			</form>
		</div>
		<hr/>

		<div class="row">
			<div class="col-md-10">
				<h4><b>View Reports</b></h4>
			</div>
		</div>
		<div class="outer">
			<div class="innera">
			    <table summary="This table list down the reports generated by the user.">
			      <caption>USER REPORTS</caption>
			      <thead>
			        <tr>
			        <th>Report Name</th>
					<th scope="col">Supplier Company</th>
					<th scope="col">Created On</th>
					<th scope="col">Last Modified</th>
					<th scope="col">Attachment</th>
					<th scope="col">delete</th>
			        </tr>
			      </thead>
			      <tfoot>
			        <tr>
			          <td colspan="6"></td>
			        </tr>
			      </tfoot>
			      <tbody>
			      <tr th:each="report : ${reports}">
					<td th:text="${report.reportName}">Unknown</td>
					<td th:text="${report.supplierName}">Unknown</td>
					<td th:text="${report.created_on}">Unknown</td>
					<td th:text="${report.modified_on}">Unknown</td>
					<td><a th:href="@{/download?report={q}(q=${report.id})}"><img class="icon" src="/assets/img/download.png" /></a></td>
					<td><form th:action="@{/delete}" method="post">
							<input type="hidden" name="report" th:value="${report.id}">
							<input class="icon" type="image" name="submit" alt="Delete" src="/assets/img/delete.ico"/>
						</form>
					</td>
				  </tr>
			     </tbody>
			</table>
			</div>
		</div>
		<hr/>

	</div>
</body>
</html>
