.outer { font:normal 14px/18px 'latomedium', arial, sans-serif;
position:relative;
padding:50px 0 30px 0;
width:1100px;
background:#eee;
margin:0 0 50px 0;
}
.innera {
overflow:auto;
width:1098px;
height:200px;
background:#eee;
}
.outer table caption {
position:absolute;
width:1098px;
text-align:center;
top:0;
left:0;
height:40px;
background:#8b9dc3;
border:1px solid #fff;
color:#fff;
}
.outer thead tr {
position:absolute;
top:20px;
height:60px;
left:0;
padding:0px 2px 0px 2px;
}
.outer tfoot td {
position:absolute;
width:1098px;
text-align:center;
background:#8b9dc3; 
border:1px solid #8b9dc3;
color:#000;
bottom:0;
left:0
}
.outer th, .outer td {
width:15em; 
text-align:left;
}
.outer th {
background:#3b5998; 
color:#fff;}

.outer .dk {background:#fff;
}

